<footer class="st-Footer">
  <div class="st-Footer_Container">
    <div class="st-Footer_Sns">
      <%- include('../sns/_snsShare') %>
    </div>
    <%- include('./_footer-parts-copyright') %>
  </div>
</footer>