<header class="st-Header">
  <div class="st-Header_SiteNav">
    <div class="st-Header_SiteNavButton" role="button" aria-expanded="false" aria-controls="Header-NavList">
      <div class="st-Header_SiteNavButton_Inner">
        <span></span><span></span><span></span>
      </div>
    </div>
    <div class="st-Header_SiteNavList" id="Header-NavList" aria-hidden="true">
      <%- include('../siteNav/_siteNav') %>
    </div>
  </div>
</header>