@use '../base/utils.scss' as uti;

.st-SnsShare{
  text-align: center;
}
.st-SnsList {
  display: flex;
  justify-content: center;
  padding: 0;
  &_Item {
    padding:0 uti.$size-margin*2;
  }
  &_Anchor {
    display: block;
    @media (hover: hover) {
      transition: opacity 0.3s;

      &:hover {
        opacity: .6;
      }
    }
  }
  &_Img {
    width: 48px;
  }
}