<!--  ページコンテンツのヘッド部分です -->
<div class="tp-Head">
  <div class="tp-KeyVisual">
    <div class="tp-KeyVisual_Container">
      <h1 class="tp-KeyVisual_Heading">
        <picture>
          <source srcset="<%- self.root %>assets/img/components/keyvisual/kv-L.png" media="(min-width: 769px)" />
          <img src="<%- self.root %>assets/img/components/keyvisual/kv-V.png" alt="kv" />
        </picture>
      </h1>
    </div>
  </div>
</div>